pipeline/pipeline_praticaEng.json
{
	"name": "pipeline_praticaEng",
	"properties": {
		"activities": [
			{
				"name": "Bronze",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:40:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/01_bronze"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:40:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/02_silver"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Gold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:40:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/03_gold"
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Falha bronze",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Bronze",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('Bronze').output",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@activity('Bronze').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Falha gold",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Gold",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('Gold').output",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@activity('Gold').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Falha silver",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('Silver').output",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@activity('Silver').output",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}